PyYAML
causal-conv1d
deepspeed
einops
flash-attn>=2.1.1,<=2.6.3
lazy_import_plus
omegaconf
opt-einsum
pybind11
regex
requests
scipy
sentencepiece
tokenizers>=0.20.1
torchaudio==2.6.0
torchvision==0.21.0
wandb
boto3
arrow
ring_flash_attn
pydantic<=2.8.2
numpy<=2.2.6 # to enable the binary mode of np.fromstring
transformer-engine==1.13.0

# Git repositories
# git+https://github.com/NVIDIA/TransformerEngine.git@stable

# Apex - requires special installation
# Run the following command in the apex directory:
# pip install -v --disable-pip-version-check --no-cache-dir --no-build-isolation --config-settings "--build-option=--cpp_ext" --config-settings "--build-option=--cuda_ext" ./
# git+https://github.com/gdb/apex.git
