PyYAML
lazy_import_plus
arrow
ring_flash_attn
#transformer-engine==1.13.0

# Git repositories
# git+https://github.com/NVIDIA/TransformerEngine.git@stable

# Apex - requires special installation
# Run the following command in the apex directory:
# pip install -v --disable-pip-version-check --no-cache-dir --no-build-isolation --config-settings "--build-option=--cpp_ext" --config-settings "--build-option=--cuda_ext" ./
# git+https://github.com/gdb/apex.git
